@model IEnumerable<Comment>

<ul>
    @foreach (var comment in Model)
    {
        <li>
            <div class="@(comment.ParentId == null ? "card mt-2 border-primary" : "card mt-2")">
                <div class="card-body">
                    <h5 class="card-title">@comment.FullName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@comment.DateCreated.DateTime</h6>
                    <p class="card-text">@comment.Content</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-reply-to-comment-id="@comment.CommentId">Reply</button>
                </div>
            </div>
            <partial name="_CommentsPartialView" model="comment.Children" />
        </li>
    }
</ul>